:root {
  // VARIABLES DEL THEME LIGHT (Por defecto)
  --bg-app: #f4f5f7;
  --bg-card: #ffffff;
  --text-main: #172b4d;
  --text-muted: #5e6c84;
  --border-color: #dfe1e6;
  --header-bg: #00598C;
  --header-text: #ffffff;
  --bg-column: #cdcdcd;
  --text-light-dark: #ffffff;
  --overlay: rgba(0, 0, 0, 0.6);

  --font-titles: "Lato", sans-serif;
  --font-general: "Trebuchet MS", sans-serif;
}

[data-theme="dark"] {
  // VARIABLES DEL THEME DARK
  --bg-app: #050506;
  --bg-card: #131316;
  --text-main: #ffffff;
  --text-muted: #a8a8b3;
  --border-color: #29292e;
  --header-bg: #022839;
  --header-text: #e1e1e6;
    --bg-column: #323236;
    --text-light-dark: #000000;
      --overlay: rgba(30, 30, 30, 0.6);

    --font-titles: "Ubuntu", sans-serif;
  --font-general: "Lato", sans-serif;
}


$bg-app: var(--bg-app);
$bg-card: var(--bg-card);
$text-main: var(--text-main);
$text-muted: var(--text-muted);
$border-color: var(--border-color);
$header-bg: var(--header-bg);
$header-text: var(--header-text);
$font-titles: var(--font-titles);
$font-general: var(--font-general);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}