:root {
  // VARIABLES DEL THEME LIGHT (Por defecto)
  --bg-app: #f4f5f7;
  --bg-card: #ffffff;
  --text-main: #172b4d;
  --text-muted: #5e6c84;
  --border-color: #dfe1e6;
  --header-bg: #0079bf;
  --header-text: #ffffff;
  --bg-column: #c6c5c5;
  --text-light-dark: #ffffff;

  --font-titles: "Ubuntu", sans-serif;
  --font-general: "Lato", sans-serif;
}

[data-theme="dark"] {
  // VARIABLES DEL THEME DARK
  --bg-app: #121214;
  --bg-card: #202024;
  --text-main: #ffffff;
  --text-muted: #a8a8b3;
  --border-color: #29292e;
  --header-bg: #19191c;
  --header-text: #e1e1e6;
    --bg-column: #383737;
    --text-light-dark: #000000;

    --font-titles: "Ubuntu", sans-serif;
  --font-general: "Lato", sans-serif;
}

// Mapeamos las variables CSS a SASS para mantener la comodidad al codear
$bg-app: var(--bg-app);
$bg-card: var(--bg-card);
$text-main: var(--text-main);
$text-muted: var(--text-muted);
$border-color: var(--border-color);
$header-bg: var(--header-bg);
$header-text: var(--header-text);
$font-titles: var(--font-titles);
$font-general: var(--font-general);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}