// src/components/Labels/Label.module.scss

.managerContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0px;


  .labelInputNombre {
    height: 32px;
    border-radius: 8px;
    padding: 8px;
  }

  .colorInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

      .labelInputPicker {
    height: 36px;
    width: 50px;
    border-radius: 16px;
    border: none;
            background-color: transparent;
  }
  }

}

.creatorSection {
  display: flex;
  gap: 16px;
  align-items: center;
      flex-wrap: wrap;

  .labelInput {
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    height: 32px;
  }

  .colorPicker {
    width: 40px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

  }

  .addBtn {
    background-color: var(--header-bg);
    width: 32px;
    height: 32px;
    color: var(--text-light-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
     padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
  }

  button {
    background-color: var(--header-bg);
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border: none;
  }
}

.divider {
  border: 0;
  border-top: 1px solid #eee;
  margin: 5px 0;
}

.listSection {
  display: flex;
  flex-direction: row;
  gap: 24px;
      flex-wrap: wrap;

  .labelRow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    transition: background 0.2s;



    .deleteBtn {
      background: transparent;
      color: red;
      font-weight: 700;
      border: none;
      cursor: pointer;
      margin-left: auto; // Empuja el icono al final
      opacity: 0.6;
      &:hover { opacity: 1; }
    }

      .checkbox {
    height: 16px;
    width: 16px;
  }
  }
}

// Estilo de la "Pill" (la etiqueta en sí)
.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 16px;
  border-radius: 12px;
  font-size: 12px;
  color: var(--text-main);
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 2px solid var(--border-color);


  .removeBtn {
    background: transparent;
    border: none;
    color: white;
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
  }
}

.labelPill {
  filter: brightness(95%);
}